services:
  target_builder:
    privileged: true
    shm_size: 2g
    environment:
{%- for key, value in effective_env.items() %}
      - {{ key }}={{ value }}
{%- endfor %}
    build:
      context: {{ crs.path }}
      dockerfile: {{ crs.builder_dockerfile }}
      args:
        - target_base_image={{target.image}} 
        - crs_version={{ crs.version }}
      additional_contexts:
        libcrs: {{ libCRS_path }}
{%- if resource.cpuset %}
    cpuset: "{{ resource.cpuset }}"
{%- endif %}
{%- if resource.memory %}
    mem_limit: "{{ resource.memory }}"
{%- endif %}
    volumes:
      - {{build_out_dir}}:/OSS_CRS_BUILD_OUT_DIR
{%- if build_fetch_dir %}
      - {{ build_fetch_dir }}:/OSS_CRS_FETCH_DIR:ro
{%- endif %}
      - {{ fuzz_proj_path }}:/OSS_CRS_FUZZ_PROJ:ro
      - {{ target_source_path }}:/OSS_CRS_TARGET_SOURCE:ro
